.user-panel {
  display: grid;
  grid-template:
    'avatar name'
    'avatar links'
    / 96px auto;
  gap: 8px;
}

.user-name {
  grid-area: name;
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}

.user-links {
  grid-area: links;
  display: flex;
  align-items: center;
  gap: 32px;
}

.settings-img,
.signout-img {
  transition: all 0.3s ease;
}

.settings-img:hover,
.signout-img:hover {
  filter: brightness(120%) contrast(200%);
}

.signout-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
