.user-panel {
  flex-grow: 0;
  padding: 1rem 1rem 0 0;
  width: 22rem;
  height: 100%;
  display: grid;
  grid-template:
    'avatar name'
    'avatar links'
    / 6rem auto;
  
}

.user-avatar {
  grid-area: avatar;
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  place-content: center;
}

.container {
  border-radius: 100%;
  border: 1px dotted blue;
  overflow: hidden;
}

.user-name {
  grid-area: name;
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.125rem;
}

.user-links {
  grid-area: links;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 0.125rem;
}

@keyframes rotating {
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

.settings-img:hover {
  animation: rotating 3s linear infinite;
}

.signout-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.signout-img {
  transition: all 0.3s ease;
}

.signout-img:hover {
  transform: scaleX(1.3) translateX(20%);
}