.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 1.25rem;
  color: var(--secondary-text-color);
}

.input {
  padding: 8px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--brand-color-4);
  outline: none;
}

.error {
  border-color: darkred;
  background-color: lightpink;
}

.avatar-block {
  display: grid;
  grid-template: 'avatar button' / 1fr 1fr;
  gap: 8px;
  height: 112px;
}

.avatar-input {
  grid-area: button;
  justify-self: end;
  width: 160px;
  height: 40px;
  color: transparent;
  outline: none;
}

.avatar-input::file-selector-button {
  width: 160px;
  height: 40px;
  cursor: pointer;
	outline: none;
	font-size: 1rem;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	border: none;
  background-color: var(--brand-color-4);
	padding: 10px 5px;
}

.avatar-input:focus-visible {
  box-shadow: 0 0 0 3px var(--brand-color-2);
}

.avatar-cancel {
  grid-area: button;
  justify-self: right;
  width: 160px;
  height: 40px;
  cursor: pointer;
	outline: none;
	font-size: 1rem;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	border: none;
  background-color: var(--brand-color-4);
	padding: 10px 5px;
}

.message {
  font-size: 0.875rem;
}